<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="5 minutes">
	<!-- 引用在config.properties中定义的变量 -->
	<property resource="config/config.properties" />
	<!-- 定义变量FILE_NAME -->
	<property scope="context" name="filename" value="ies-front" />

	<!-- ConsoleAppender将日志输出到控制台 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d是日期，%thread是线程名，%-5level是级别从左显示5个字符宽度，%msg是日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- RollingFileAppender滚动记录文件 -->
	<appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/${filename}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!--日志文件保留天数-->
			<maxHistory>20</maxHistory>
			<!-- 定义单个文件滚动策略 -->
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<totalSizeCap>1G</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d是日期，%thread是线程名，%-5level是级别从左显示5个字符宽度，%msg是日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
     </appender>

	<!-- <appender name="LOG_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/${filename}-debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<totalSizeCap>300MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
		    <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n %caller{1, DISP_CALLER_EVAL}</pattern>
		</encoder>
	</appender> -->

	<appender name="LOG_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/${filename}-info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<totalSizeCap>300MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
		    <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n %caller{1, DISP_CALLER_EVAL}</pattern>
		</encoder>
	</appender>

	<appender name="LOG_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/${filename}-warn.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<totalSizeCap>300MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
		    <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n %caller{1, DISP_CALLER_EVAL}</pattern>
		</encoder>
	</appender>

	<appender name="LOG_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/${filename}-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<totalSizeCap>300MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
		    <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n %caller{1, DISP_CALLER_EVAL}</pattern>
		</encoder>
	</appender>

	<!-- <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<driverClass>${jdbc.driver}</driverClass>
			<url>${jdbc.url}</url>
			<user>${jdbc.username}</user>
			<password>trmies</password>
			</dataSource>
		</connectionSource>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/${filename}-db.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<totalSizeCap>300MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
		    <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n %caller{1, DISP_CALLER_EVAL}</pattern>
		</encoder>
	</appender>  -->

	<logger name="infoFile" additivity="false" level="INFO">
		<appender-ref ref="LOG_INFO"/>
	</logger>
	<logger name="warnFile" additivity="false" level="WARN">
		<appender-ref ref="LOG_WARN"/>
	</logger>
	<logger name="errorFile" additivity="false" level="ERROR">
		<appender-ref ref="LOG_ERROR"/>
	</logger>
	<!-- <logger name="com.trm.trmservice" level="INFO" >
		<appender-ref ref="DB"/>
	</logger> -->

	<!-- 将>=INFO级别的日志都输出 -->
	<root level="INFO">
		<!-- 输出到控制台 -->
		<appender-ref ref="CONSOLE" />
		<!-- 输出到日志文件 -->
		<appender-ref ref="LOG" />
		<appender-ref ref="LOG_INFO"/>
		<appender-ref ref="LOG_WARN"/>
		<appender-ref ref="LOG_ERROR"/>
	</root>
</configuration>
