<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
		 xmlns:b="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns:sec="http://www.springframework.org/schema/security"
		 xmlns:c="http://www.springframework.org/schema/c"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
					http://www.springframework.org/schema/security 
					http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<authentication-manager alias="authenticationManager"/>

	<http auto-config="true" path-type="ant">
		<headers>
			<header ref="frameOptionsWriter"/>
		</headers>
	</http>

	<b:bean id="frameOptionsWriter"
			class="org.springframework.security.web.header.writers.frameoptions.XFrameOptionsHeaderWriter"
			c:frameOptionsMode="SAMEORIGIN"/>

</b:beans>
